-dontobfuscate
-dontusemixedcaseclassnames
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*,!code/allocation/variable

# Make sure that the views referenced from XML files aren't stripped.
# -keep class android.support.v4.view.PagerTitleStrip { *; }
